.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  td {
    padding-right: 8px;
  }

  table {
    width: 100%;
  }
  .example-form-field {
    width: auto;
    padding-left: 20px;
  }
  .example-form-field-panel {
    width: auto;
  }
  .example-card {
    max-width: 350px;
    justify-content: left;
  }
  .example-card-user {
    max-width: 350px;
    justify-content: right;
  }

